


// Base
@import "./base/reset";
@import "./base/global";

// utilities
@import "./utilities/animations";
@import "./utilities/spacing";

// companents
@import "./components/buttons";
@import "./components/badges";

//layout
@import "./layout/header";
@import "./layout/background_elements";

// pages
@import "./pages/home";
@import "./pages/about";
@import "./pages/roadmap";








