@use "../abstract/function" as func;

.form-contral {
    padding: 0.8rem 1.5rem;
    width: 100%;
    background-color: rgba(253, 251, 251, 0.924);
    border: none;
    border-radius: 5px;
    outline: none;

    &:focus {
        border: 2px solid func.theme-colors();
    }

}
.resize-none{
    resize: none;
}