@use "../abstract/function" as func;

.courses {
    padding: 8rem 20rem;
    background-color: func.theme-colors();

    &--heading {
        text-align: center;
        color: #fff;

        h2 {
            font-size: 2rem;
            color: #fff;
        }

        p {
            color: rgb (223, 223, 223);
        }
    }

    &-cards {
        display: flex;
        justify-content: space-between;

    }

    &-card {
        background-color: #fff;
        max-width: 380px;
        border-radius: 15px;
        overflow: hidden;



        &--img {
            width: 380px;
        }

        .courses--card--body {
            padding: 2rem;
        }
        h4 {
            font-size: 1.0rem;
        }
        p {
            color: gray;
            line-height: 1.5;
        }

        a {
            color: rgba(0, 0, 0, 0.916);
        }
        &:hover{
            box-shadow: 2px 2px 20px 5px rgba(45, 43, 43, 0.969);
        }
    }

    &--info {
        text-align: center;
        color: #fff;

        a {
            color: #fff;
            &:hover{
                text-shadow: 2px 2px 10px rgb(45, 44, 44);
            }
        }
    }
}